@charset "UTF-8";

$c0: #000000;
$c1: #ffffff;
$c2: #fafafa;
$c3: #f7f7f7;
$c4: #bbbbbb;
$c5: #999999;
$c6: #757575;
$c7: #333333;
$c8: #ff4294;
$c9: #ffba00;
$c10: #ff950c;
$c11: #2baaf9;
$c12: #eeeeee;
$c13: #e1e1e1;
$c14: #cccccc;
$c15: #282828;
$c16: #fe4b5c;
$c17: #f5f5f5;
$c18: #666666;
$c19: #fffbdf;
$c20: #a77aff;
$c21: #f93386;
$c22: #ffebf4;
$c23: #fff600;
$c24: #fef3d4;
$c25: #30c541;
$c26: #703b84;
